In [9]:
import sys
import pandas as pd
sys.path.append('/Users/broniy/Desktop/CreativeRank')
%load_ext autoreload
%autoreload 2

from settings import PROMPTS_FOLDER, DATA_FOLDER
from notebooks.experiment_data import get_experiment_data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
experiments = get_experiment_data()

users_df size before removing small experiments: 501008 rows
users_df size after removing small experiments: 500953 rows

        EXPERIMENT_DATE                         EXPERIMENT_ID
98           2025-10-06  0ef6d2e9-7601-4df6-a215-83e6e79aa24e
99           2025-10-06  0ef6d2e9-7601-4df6-a215-83e6e79aa24e
100          2025-10-06  0ef6d2e9-7601-4df6-a215-83e6e79aa24e
101          2025-10-06  0ef6d2e9-7601-4df6-a215-83e6e79aa24e
182          2025-10-06  0ef6d2e9-7601-4df6-a215-83e6e79aa24e
...                 ...                                   ...
2182517      2025-07-01  8ea67496-0fb3-4efd-8cea-4b8d88351b8e
2182518      2025-07-01  8ea67496-0fb3-4efd-8cea-4b8d88351b8e
2182519      2025-07-01  8ea67496-0fb3-4efd-8cea-4b8d88351b8e
2182520      2025-07-01  8ea67496-0fb3-4efd-8cea-4b8d88351b8e
2182521      2025-07-01  8ea67496-0fb3-4efd-8cea-4b8d88351b8e

[2468657 rows x 2 columns]

In [23]:
experiment_ids =experiments[["EXPERIMENT_DATE", "EXPERIMENT_ID"]].sort_values(["EXPERIMENT_DATE", "EXPERIMENT_ID"], ascending=False).drop_duplicates()

In [37]:
experiments.columns

Index(['EXPERIMENT_ID', 'MONTH', 'DAY', 'HOUR', 'LAST_CLICKED_VARIATION_ID',
       'RECIPIENT_ID', 'CITY', 'COUNTRY', 'REGION', 'TIMEZONE',
       'LAST_EVENT_DATE', 'LAST_ORDER_VALUE', 'TOTAL_ORDERS_VALUE',
       'AVG_ORDER_VALUE', 'ORDER_COUNT', 'LATEST_CLICK_DATE',
       'LATEST_CLICK_CLIENT_TYPE', 'LATEST_CLICK_CLIENT_OS_FAMILY',
       'LATEST_CLICK_CLIENT_NAME', 'TOTAL_CLICK_COUNT',
       'AVG_CLICK_HOUR_OF_DAY', 'FIRST_ACTIVE_TS', 'FIRST_UTM_SOURCE',
       'FIRST_UTM_CONTENT', 'FIRST_UTM_CAMPAIGN', 'LAST_UTM_SOURCE',
       'LAST_UTM_CONTENT', 'LAST_UTM_CAMPAIGN', 'CLICK_COUNT', 'CLICK',
       'EXPERIMENT_DATE', 'FIRST_ACTIVE_TS_dt', 'MONTHS_SINCE_FIRST_ACTIVE',
       'VARIATION_ID', 'Q1_CREATIVE', 'Q2_CREATIVE', 'Q3', 'Q4', 'Q5', 'Q6',
       'Q7', 'Q8', 'Q9', 'Q10', 'Q1_SBL', 'Q2_SBL'],
      dtype='object')

In [47]:
experiments.query("CLICK == 1")["RECIPIENT_ID"].size

47357

In [24]:
experiment_ids

    EXPERIMENT_DATE                         EXPERIMENT_ID
98       2025-10-06  0ef6d2e9-7601-4df6-a215-83e6e79aa24e
60       2025-10-02  78a802ae-d6cd-4f39-aecb-138668fa2607
40       2025-09-29  cd4a656f-290a-41e2-be1d-bf62ad85757d
64       2025-09-27  823158da-7b0a-4c19-8189-663c22a3ae38
132      2025-09-25  43d750b5-8698-4cf0-9ea2-f705f4f196ed
25       2025-09-23  f93bf2bd-1d50-4131-9ec2-223a4d9987e8
112      2025-09-17  11c49e5d-21ac-4d6d-88c3-f211562a8e07
93       2025-09-06  49c33d7c-ef04-43a7-bbd0-783489c64849
225      2025-09-05  1d6dbba7-dcc5-46f4-a4aa-aef3124a8fcf
35       2025-08-30  9cd54b2b-31f9-43e4-9073-0d2b61bf9f15
0        2025-08-29  e697ab50-0abb-42d3-92a0-43f1ed597476
255      2025-08-25  2a3f341e-1807-4eb3-9d8d-202c32d52632
78       2025-08-23  a1db5d4b-b641-4d3d-a8a6-d4c9bdd9c033
177      2025-08-19  6a258715-721a-41e9-8abb-af41308c1f48
15       2025-08-14  91eee220-fee7-488b-952a-c96aa8e493db
245      2025-08-12  9defe9fd-0374-4de6-99f7-aaa392903d67
422      2025-08-07  e627d7f0-46c4-4894-872e-59a2fc108c30
309      2025-08-02  e4b4a349-3b14-439e-946f-f716101dac69
417      2025-07-28  002deaf7-331f-4b5e-866b-f6dad60e4a79
5        2025-07-26  44d26695-cdf2-41a4-b161-393fdaf964bc
367      2025-07-22  6f506df9-be60-452d-b914-8230c29c2ff1
20       2025-07-17  00bb26ff-6fe3-4465-ac77-12bfc33aa6df
45       2025-07-14  3ecf34fc-1f15-4b32-970f-4061544da763
50       2025-07-11  c5288ca2-3928-4364-8f08-bebc1036dd87
362      2025-07-10  81ae4870-e57d-4bc4-a2d7-48ffa5411707
201      2025-07-01  8ea67496-0fb3-4efd-8cea-4b8d88351b8e

In [25]:
sbl_df = pd.read_csv(DATA_FOLDER / "subject_lines.csv")
n_last_experiments = 4
last_experiment_ids = experiment_ids.head(n_last_experiments)["EXPERIMENT_ID"].tolist()
unique_subject_lines = sbl_df[sbl_df.experiment_id.isin(last_experiment_ids)]["subject_line"].unique()
print(unique_subject_lines)
# sbl_df.query("experiment_id in @last_4_experiments")
# sbl_dict = dict(zip(sbl_df["id"], sbl_df["subject_line"]))
# sbl_dict

['ùó¶ùóΩùó≤ùó∞ùó∂ùóÆùóπ ùóòùó±ùó∂ùòÅùó∂ùóºùóª: The LACE versions' 'T-shirt Bra can be wireless!'
 'Comfort so good, you‚Äôll forget it‚Äôs shaping üíÉ'
 'UPDATE: comfort overload ‚ö†Ô∏è' 'Shape. Lift. Comfort. All in one cami. üëó'
 'UPDATE: Side Effects of Underoutfit ‚ö†Ô∏è' 'Every mom deserves this!'
 'Real women, Real lift - Comfort you‚Äôll love üíÉ'
 'UPDATE: underoutfit is contagious ‚ö†Ô∏è']

In [26]:
last_experiment_ids = experiment_ids.iloc[4:6]["EXPERIMENT_ID"].tolist()
unique_subject_lines = sbl_df[sbl_df.experiment_id.isin(last_experiment_ids)]["subject_line"].unique()
print(unique_subject_lines)

['The Bra for the Super Picky' 'Goodbye Sag, Hello Sculpt']

In [38]:
last_experiment_ids = experiment_ids.iloc[6:15]["EXPERIMENT_ID"].tolist()
unique_subject_lines = sbl_df[sbl_df.experiment_id.isin(last_experiment_ids)]["subject_line"].unique()
print(unique_subject_lines)

['Full Support - Full Coverage, Max Comfort üåü' 'Best Bra Ever!'
 'Best bra ever!' 'The Sexy Plunge You‚Äôll Actually Wear All Day'
 'Low Cut. High Impact.' 'When Sexy Meets Comfort' 'Your All-Day Sexy Bra'
 'The Modal Version ü™∂ ü™∂ ü™∂' 'Plunge Into Perfect Fit'
 '"I\'m in love with the smoothing"' 'Over 2.1M Women know'
 'Our #1 Bra starts at $29.00' 'Up to 50% Off + $20 Off orders $130+'
 'Just Restocked: Here Comes The Smooth üë∞']

In [7]:
from features.subject_line_features import extract_subject_line_features
from utils import read_prompt

prompt = read_prompt("subjectline_v2")
await extract_subject_line_features(sbl_dict,prompt, model="gpt-5", max_tokens=50, temperature=0.0)

Categorizing: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 10/10 [00:04<00:00,  2.13it/s]

                                                        Q1   Q2
b5759954-f5df-4934-961e-e4f99bc01bf4      Emotional appeal  Yes
f13b8f3a-28a4-45f6-8f5c-5344412cb3a3   Conversational tone   No
eb261cf6-c634-41cc-968b-06df59c49599      Emotional appeal  Yes
a43a50b5-5177-456e-b2dd-ea45272e3cd2      Problem‚Äìsolution   No
2889f0ae-360b-4419-b304-49da3283b22e  Signature repetition   No
78d732c7-ca8a-47c9-b4ef-89e1e564b462      Problem‚Äìsolution   No
39756092-f8a4-443d-aced-20f54e47400d  Signature repetition   No
8874fe28-74ad-4900-a290-c0742807812f  Signature repetition   No
94802d11-dd96-46d7-840a-ed946019f3fb      Problem‚Äìsolution   No
4538b19b-9e4f-41a7-b341-ec0231594dae      Emotional appeal  Yes